body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f3f3f3;
}
/* the above line contain hexadecimal color code */


/* parent container  */
.container {
    border: 5px solid red;

}
/* common for all children div */
.box {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #f3f3f3;
}
.box-1 {
    background-color: blueviolet;
}
.box-2 {
    background-color: blue;
}
.box-3 {
    background-color: orange;
}
.box-4 {
    background-color: aquamarine;
}
.box-5 {
    background-color: goldenrod;
}
